.navbar {
  z-index: 1000;
}
#menubar {
  border-bottom: 2%;
}
.hamburger {
  display: inline;
  font-size: 30px;
}
.brand-logo {
  margin-left: -32px;
  margin-top: -7px;
}
.nav-link,
.dropdown-item {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.nav-link:hover {
  background-color: white;
  color: black;
}
.dropdown-transparent-hover:hover {
  background-color: white !important;
  color: black !important;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .home-navbar {
    width: 100%;
    position: absolute;
  }
  .transparent-white,
  .hamburger {
    background-color: transparent !important;
    color: white !important;
  }
  .transparent-white:hover {
    color: rgb(252, 193, 5) !important;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
  }
}
