<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="overlay">
        <div class="container">
            <h1 class="mb-1 slider-title text-uppercase">Club Interior</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eligendi unde
                consectetur ipsa iste numquam natus! Quidem velit harum aspernatur doloribus reprehenderit commodi,
                veritatis, incidunt illo inventore facilis cum officia!</p>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100 slider slide-1"></div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 slider slide-2"></div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 slider slide-3"></div>
        </div>
    </div>
    <div class="social-media-icons">
        <div class="row social-media-row"><a href="https://www.facebook.com/panduranga.hegde"><i
                    class="fa fa-facebook slider-icon"></i></a></div>
        <div class="row social-media-row"><a href="http://"><i class="fa fa-youtube-play slider-icon"></i></a></div>
        <div class="row social-media-row"><a
                href="https://api.whatsapp.com/send?phone=+919902694060&text=I%20am%20interested%20in%20your%20products"><i
                    class="fa fa-whatsapp slider-icon"></i></a></div>
    </div>
    <div class="scroll-down">
        <h4 class="scroll-header">Scroll down for more</h4>
        <span class="scroll-down-icon"></span>
    </div>
</div>